USE [master]
GO
/****** Object:  Database [NevenBotTG]    Script Date: 25.07.2025 21:26:54 ******/
CREATE DATABASE [NevenBotTG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NevenBotTG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NevenBotTG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NevenBotTG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NevenBotTG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NevenBotTG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NevenBotTG]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25.07.2025 21:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TGID] [bigint] NOT NULL,
	[Username] [nchar](50) NOT NULL,
	[DisplayName] [nchar](50) NULL,
	[isActive] [bit] NULL,
	[atCreated] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
